<div class="card">
    <div class="card-header">
        <h4><a class="link" href="/post/{{id}}">{{charName}} {{charRace}} {{charClass}}</a></h4>
        <p>Created by {{user.username}} on {{created_at}}</p>
    </div>
        <p class="card-body">{{contents}}</p>
</div>