        <table>
            <tr class="text-center"> 
                <td>{{ getSpellSave 1 character.charWis }}</td>
                <td>{{ getSpellAttack 1 character.charWis }}</td>
            </tr>
            <tr>
                <th>Spell Save</th>
                <th>Spell Attack</th>
            </tr>
        </table>
    <div>
        <h2 class="font-black text-center text-lg">Saves</h2>
        <table class="flex justify-center">
            <tr class="text-center">
                <td class="w-16">{{ statModifiers character.charStr}}</td>
                <td class="w-16">{{ statModifiers character.charDex}}</td>
                <td class="w-16">{{ statModifiers character.charCon}}</td>
                <td class="w-16">{{ statModifiers character.charInt}}</td>
                <td class="w-16">{{ addProficientBonus character.charWis 1}}</td>
                <td class="w-16">{{ addProficientBonus character.charCha 1}}</td>
            </tr>
            <tr>
                <th class="w-16">STR</th>
                <th class="w-16">DEX</th>
                <th class="w-16">CON</th>
                <th class="w-16">INT</th>
                <th class="w-16">WIS</th>
                <th class="w-16">CHA</th>
            </tr>
        </table>
    </div>
</div>
<div class="grid grid-cols-1 md:grid-cols-2 col-gap-2 mt-8">
 <div class="Features shadow-xl p-4 bg-white">
    <h2 class="font-black text-center text-xl"> Class Features </h2>

    <h3 class="font-black text-lg m-2 border-b border-black"> Spellcasting </h3>
        <p>As a conduit for divine power, you can cast cleric spells.</p>

    <h4 class="m-2 font-black border-b border-black"> Cantrips </h4>
        <p>At 1st level, you know three cantrips of your choice from the cleric spell list.</p>
        <p>You learn additional cleric cantrips of your choice at higher levels, as shown in the Cantrips Known column of the Cleric table.</p>
    <h4 class="m-2 font-black border-b border-black"> Preparing and Casting Spells </h4>
        <p>The Cleric table shows how many spell slots you have to cast your spells of 1st level and higher.</p>
        <p>To cast one of these spells, you must expend a slot of the spell’s level or higher. You regain all expended spell slots when you finish a long rest.</p>

        <p>You prepare the list of cleric spells that are available for you to cast, choosing from the cleric spell list.</p>
        <p>When you do so, choose a number of cleric spells equal to your Wisdom modifier + your cleric level (minimum of one spell). The spells must be of a level for which you have spell slots.</p>

        <p>For example, if you are a 3rd-level cleric, you have four 1st-level and two 2nd-level spell slots.</p>
        <p>With a Wisdom of 16, your list of prepared spells can include six spells of 1st or 2nd level, in any combination.</p>
        <p>If you prepare the 1st-level spell cure wounds, you can cast it using a 1st-level or 2nd-level slot. Casting the spell doesn’t remove it from your list of prepared spells.</p>

        <p>You can change your list of prepared spells when you finish a long rest.</p>
        <p>Preparing a new list of cleric spells requires time spent in prayer and meditation: at least 1 minute per spell level for each spell on your list.</p>

    <h4 class="m-2 font-black border-b border-black"> Spellcasting Ability </h4>
        <p>The power of your spells comes from your devotion to your deity.</p>
        <p>You use your Wisdom whenever a cleric spell refers to your spellcasting ability.</p>
        <p>In addition, you use your Wisdom modifier when setting the saving throw DC for a cleric spell you cast and when making an attack roll with one.</p>

        <p>Spell save DC = 8 + your proficiency bonus + your Wisdom modifier</p>

        <p>Spell attack modifier = your proficiency bonus + your Wisdom modifier</p>

    <h4 class="m-2 font-black border-b border-black"> Ritual Casting </h4>
        <p> You can cast a cleric spell as a ritual if that spell has the ritual tag and you have the spell prepared. </p>

    <h4 class="m-2 font-black border-b border-black"> Spellcasting Focus </h4>
        <p>You can use a holy symbol (see Equipment) as a spellcasting focus for your cleric spells. </p>

    <h3 class="font-black text-lg m-2 border-b border-black"> Divine Domain </h3>
        <p>Choose one domain related to your deity. Your chosen domain grants you domain spells and other features when you choose it at 1st level. </p>
        <p>It also grants you additional ways to use Channel Divinity when you gain that feature at 2nd level, and additional benefits at 6th, 8th, and 17th levels.</p>

        <h4 class="m-2 font-black border-b border-black"> Domain spells </h4>
        <p>Each domain has a list of spells—its domain spells— that you gain at the cleric levels noted in the domain description.</p>
        <p>Once you gain a domain spell, you always have it prepared, and it doesn’t count against the number of spells you can prepare each day.</p>

        <p>If you have a domain spell that doesn’t appear on the cleric spell list, the spell is nonetheless a cleric spell for you</p>

 </div>
    <div class="shadow-xl p-4 bg-white">
        <div class="Proficiencies mb-5">
            <h2 class="font-black text-center text-lg border-b border-black"> Class Proficiencies </h2>
                <p><span class="font-black">Armor:</span> Light armor, medium armor, shields</p>
                <p><span class="font-black">Weapons:</span> Simple weapons</p>
                <p><span class="font-black">Tools:</span> None</p>
                <p><span class="font-black">Saving Throws:</span> Wisdom, Charisma</p>
                <p><span class="font-black">Skills:</span> Choose two from History, Insight, Medicine, Persuasion, and Religion</p>


