<table>
    <tr>
        <td>{{ addProficientBonus character.charStr 1}}</td>
        <td>{{ statModifiers character.charDex}}</td>
        <td>{{ addProficientBonus character.charCon 1}}</td>
        <td>{{ statModifiers character.charInt}}</td>
        <td>{{ statModifiers character.charWis}}</td>
        <td>{{ statModifiers character.charCha}}</td>
    </tr>
    <tr>
        <th>STR</th>
        <th>DEX</th>
        <th>CON</th>
        <th>INT</th>
        <th>WIS</th>
        <th>CHA</th>
    </tr>
</table>
<h2> Class Proficiencies </h2>
    <p><span>Armor:</span> All armor, shields</p>
    <p><span>Weapons:</span> Simple weapons, martial weapons</p>
    <p><span>Tools:</span> None</p>
    <p><span>Saving Throws:</span> Strength, Constitution</p>
    <p><span>Skills:</span> Choose two skills from Acrobatics, Animal Handling, Athletics, History, Insight, Intimidation, Perception, and Survival</p>
            
<h2> Class Features </h2>

<h3>Fighting Style</h3>
    <p>You adopt a particular style of fighting as your specialty.</p>
    <p>Choose one of the following options.</p>
    <p>You can’t take a Fighting Style option more than once, even if you later get to choose again.</p>
    
<h4>Archery</h4>
    <p>You gain a +2 bonus to attack rolls you make with ranged weapons.</p>

<h4>Defense</h4>
    <p>While you are wearing armor, you gain a +1 bonus to AC.</p>
    
<h4>Dueling</h4>

    <p>When you are wielding a melee weapon in one hand and no other weapons, you gain a +2 bonus to damage rolls with that weapon.</p>
    
<h4>Two-Weapon Fighting</h4>

    <p>When you engage in two-weapon fighting, you can add your ability modifier to the damage of the second attack.</p>
    
<h3>Second Wind</h3>
    <p>You have a limited well of stamina that you can draw on to protect yourself from harm.</p>
    <p>On your turn, you can use a bonus action to regain hit points equal to 1d10 + your fighter level.</p>
    <p>Once you use this feature, you must finish a short or long rest before you can use it again.</p>