<section class="character-sheet">
    <div class="character-info">
        <table>
            <tr>
                <td>{{ character.charName }}</td>
                <td>{{ character.charRace }}</td>
                <td>{{ character.charClass }}</td>
                <td>1</td>
            </tr>
            <tr>
                <th>Name</th>
                <th>Race</th>
                <th>Class</th>
                <th>Level</th>
            </tr>
        </table>
        <table>
            <tr>
                <td>{{ getHp character.charCon character.charClass }}</td>
                <td>{{ proficiencyBonus 1 }}</td>
                <td>{{ statModifiers character.charDex }}</td>
            </tr>
            <tr>
                <th>HP</th>
                <th>Proficiency Bonus</th>
                <th>Initiative</th>
            </tr>
        </table>
        <table>
            <tr>
                <th>Attribute</th>
                <th>Score</th>
                <th>Modifiers</th>
            </tr>
            <tr>
                <td>Strength:</td>
                <td>{{ character.charStr }}</td>
                <td>{{ statModifiers character.charStr }}</td>
            </tr>
            <tr>
                <td>Dexterity:</td>
                <td>{{ character.charDex }}</td>
                <td>{{ statModifiers character.charDex }}</td>
            </tr>
            <tr>
                <td>Constitution:</td>
                <td>{{ character.charCon }}</td>
                <td>{{ statModifiers character.charCon }}</td>
            </tr>
            <tr>
                <td>Intelligence:</td>
                <td>{{ character.charInt }}</td>
                <td>{{ statModifiers character.charInt }}</td>
            </tr>
            <tr>
                <td>Wisdom:</td>
                <td>{{ character.charWis }}</td>
                <td>{{ statModifiers character.charWis }}</td>
            </tr>
            <tr>
                <td>Charisma</td>
                <td> {{ character.charCha }} </td>
                <td>{{ statModifiers character.charCha }}</td>
            </tr>
        </table>
        <table>
            <tr>
                <td>{{ addProficientBonus character.charStr 1 }}</td>
                <td>{{ addProficientBonus character.charDex 1 }}</td>
            </tr>
            <tr>
                <th>Attack Bonus</th>
                <th>Finesse Bonus</th>
            </tr>
        </table>
            {{#if Barbarian}}
            {{> Barbarian}}
            {{/if}}

            {{#if Bard}}
            {{> Bard}}
            {{/if}}

            {{#if Cleric}}
            {{> Cleric}}
            {{/if}}

            {{#if Druid}}
            {{> Druid}}
            {{/if}}

            {{#if Fighter}}
            {{> Fighter}}
            {{/if}}

            {{#if Monk}}
            {{> Monk}}
            {{/if}}

            {{#if Paladin}}
            {{> Paladin}}
            {{/if}}

            {{#if Ranger}}
            {{> Ranger}}
            {{/if}}

            {{#if Rogue}}
            {{> Rouge}}
            {{/if}}

            {{#if Sorcerer}}
            {{> Sorcerer}}
            {{/if}}

            {{#if Warlock}}
            {{> Warlock}}
            {{/if}}

            {{#if Wizard}}
            {{> Wizard}}
            {{/if}}


        <div>
            {{#getRaceInfo character.charRace}}
            {{/getRaceInfo}}
        </div>
    </div>
</section>