
{{#if characters.length}}
<!--AVATARS-->
<section id="avatars">
  <div class="mx-10">
    <h2 class="font-black text-center text-3xl text-white">Your Characters!</h2>
   {{#each characters as |character| }}
      <div class="p-8">
        <a href="/{{character.id}}">
            <div class="grid grid-cols-2">
                <table class="shadow-lg  bg-white">
                    <tr class="flex-1 text-center">
                        <td class="w-32">{{ character.charName }}</td>
                        <td class="w-32">{{ character.charRace }}</td>
                        <td class="w-32">{{ character.charClass }}</td>
                        <td class="w-32">1</td>
                    </tr>
                    <tr class="flex-1 flex-row">
                        <th class="w-32 border-t border-black">Name</th>
                        <th class="w-32 border-t border-black">Race</th>
                        <th class="w-32 border-t border-black">Class</th>
                        <th class="w-32 border-t border-black">Level</th>
                    </tr>
                </table>
                <table class="shadow-lg  bg-white">
                    <tr class="text-center flex-1">
                        <td class="w-32">{{ getHp character.charCon character.charClass }}</td>
                        <td class="w-40">{{ proficiencyBonus 1 }}</td>
                        <td class="w-32">{{ character.user.username }}</td>
                    </tr>
                    <tr class="text-center flex-1">
                        <th class="w-32 border-t border-black">HP</th>
                        <th class="w-40 border-t border-black">Proficiency Bonus</th>
                        <th class="w-32 border-t border-black">user</th>
                    </tr>
                </table>
            </div>
        </a>
        <a href="/dashboard/edit/{{character.id}}" class="no-underline hover:text-purple-800 text-blue-500 text-lg">Edit Character</a>
    </div>
   {{/each}}
  </div>
</section>
{{/if}}

<div class="flex justify-center m-10">
    <button type="submit" class="btn" id="new-btn"><a class="shadow bg-purple-500 hover:bg-purple-800 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" href="/dashboard/new"> New Character</a></button>
</div>

